body {
	padding: 2%;
	color: purple;
	background-color: white ;
	margin-right: auto;
	margin-left:auto;
}

body,	
input,
select,
button {
	font-family: 'Jura', sans-serif;
}

a {
	color: blue;
}

a:hover {
	color: red;
}

img{
	display:block;
	margin: 0.1em 1em 0.2em 0;
	float:right;
	width:35%;
}

section {
	/*Ajattelin että nämä ovat turhia, Tuire
	position:absolute;
	top:0px;
	left:0px;*/

	/*set the width and height to 100% of the screen*/
	width:100%;
	height:100%;
	display:none;               
}

input[type=text]{
	width:100%;
	padding:5px;
	border:solid 1px gray;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

input[type=button]{
	width:100%;
	padding:5px;
	font-size: medium;
	color:white;
	margin-top:1%;
	background: linear-gradient(top, #757575, #4b4b4b); 
	background: -webkit-linear-gradient(#757575, #4b4b4b); /* Safari 5.1+, Chrome 10+ */  
	background: -o-linear-gradient(#757575, #4b4b4b);/* Opera*/
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border: none;
}

.container{
	max-width: 418px;
	margin:0 auto;
}

.bubble {
	position:relative;
	padding:15px;
	margin: 1em 0 0.5em 0;
	color:#000;
	background:#F7EFF7;//orange: #f3961c;

	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

/* creates triangle */
.bubble:after {
	content:"";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	bottom:-13px;
	right:80px;
	width:0;
	border-width:15px 15px 0;
	border-style:solid;
	border-color:#F7EFF7 transparent;//orange: #f3961c transparent;
}

.disclaimer{
	font-size: x-small;
	font-family: sans-serif;
}

#debug_status {
	z-index: 15;
	position:absolute;
	top:100px;
	background: transparent;
	width:200px;
	height:200px;
}

#mapContainer {
	z-index: 10;
	position:absolute;
	left:0px;
	top:0px;
	height:100%; 
	width:100%;
}

#webCamCanvasFallback {
	z-index: -10;
	position:absolute;
	left:0px;
	top:0px;
	height:100%;
	width:100%;
}

#webCamCanvas {
	z-index: -10;
	position:absolute;
	left:0px;
	top:0px;
	height:100%; 
	width:100%;
}

#route_3d {
	z-index: 13;
	position:absolute;
	left:0px;
	top:0px;
	height:100%; 
	width:100%;
}

#span {
	background: white;
}

/*	start styles for the ContextMenu	*/
.context_menu {
	background-color:white;
	border:1px solid gray;
}
.context_menu_item{
	padding:3px 6px;
}
.context_menu_item:hover{
	background-color:#CCCCCC;
}
.context_menu_separator{
	background-color:gray;
	height:1px;
	margin:0;
	padding:0;
}
#clearDirectionsItem, #getDirectionsItem{
	display:none;
}
/*	end styles for the ContextMenu	*/



