body {
	padding: 2%;
	color: purple;
	background-color: white ;
	height: 100%;
}

body,	
input,
select,
button {
	font-family: 'Jura', sans-serif;
}

h1{
	margin:0;
	padding:0;
}

a {
	color: blue;
}

a:hover {
	color: red;
}

img{
	display:block;
	margin: 0.1em 1em 0.2em 0;
	float:right;
	width:35%;
}

#playerImg{
	float:left;
        border-style: solid;
        border-width: 1px;
}

section {
	/*Ajattelin että nämä ovat turhia, Tuire
	position:absolute;
	top:0px;
	left:0px;
	*/

	/*set the width and height to 100% of the screen*/
	width:100%;
	height:100%;             
}

input[type=text], input[type=password]{
	width:100%;
	padding:5px;
	border:solid 1px gray;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=button], input[type=submit]{
	width:100%;
	padding:5px;
	font-size: medium;
	color:white;
	margin-top:1%;
	background: -webkit-linear-gradient(#757575, #4b4b4b); /* Safari 5.1+, Chrome 10+ */  
	background: -o-linear-gradient(#757575, #4b4b4b);/* Opera*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b'); /*IE*/
	background: linear-gradient(top, #757575, #4b4b4b); 
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border: none;
}

#continueButton{
    width: 50%;
}

.container{
	max-width: 418px;
	margin:0 auto;
}

.bubble {
	position:relative;
	padding:15px;
	margin: 1em 0 0.5em 0;
	color:#000;
	background:#F7EFF7;/*orange: #f3961c;*/

	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

/* creates triangle */
.bubble:after {
	content:"";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	bottom:-13px;
	right:80px;
	width:0;
	border-width:15px 15px 0;
	border-style:solid;
	border-color:#F7EFF7 transparent; /*orange: #f3961c transparent;*/
}

.hidden{
	display: none;
}

.disclaimer{
	font-size: x-small;
	font-family: sans-serif;
}

.block{
        width: 100%;
        clear: both;
}

#playerInfo{
        list-style: none;
}

#debug_status {
	z-index: 15;
	position:absolute;
	top:100px;
	background: transparent;
	width:200px;
	height:200px;
}

#mapContainer {
	z-index: 10;
	position:absolute;
	left:0px;
	top:0px;
	height:100%; 
	width:100%;
}

#congratulationsContainer {
    	z-index: 10;
	position:absolute;
	left:0px;
	top:0px;
	height:100%; 
	width:100%;
}

#webCamCanvasFallback {
	z-index: -10;
	position:absolute;
	left:0px;
	top:0px;
	height:100%;
	width:100%;
}

#webCamCanvas {
	z-index: -10;
	position:absolute;
	left:0px;
	top:0px;
	height:100%; 
	width:100%;
}

#arCanvas {
	z-index: 13;
	position:absolute;
	left:0px;
	top:0px;
	height:100%; 
	width:100%;
}

#span {
	background: white;
}

/*	start styles for the ContextMenu	*/
.context_menu {
	background-color:white;
	border:1px solid gray;
}
.context_menu_item{
	padding:3px 6px;
}
.context_menu_item:hover{
	background-color:#CCCCCC;
}
.context_menu_separator{
	background-color:gray;
	height:1px;
	margin:0;
	padding:0;
}

#clearDirectionsItem, #getDirectionsItem{
	display:none;
}
/*	end styles for the ContextMenu	*/

#markerInfo {
    
    font-size: 0.7em;
}

#menuToggle {
    z-index: 30;
	position: absolute;
	right:0;
	top:0;
	height:100%;
	width:25px;
	background: lightgray;
        background-image: url('images/showmenu_button.png');
        background-size: 20px;
        background-position: center center;
        background-repeat: no-repeat;
}

.sidemenu{
	position:absolute;
	height:100%;
	background: lightgrey;
	top:0;
	right:0;   
        width: 75px;
	z-index:15; /*must be less than #menutoggle*/
}

.sideMenu ul li {
    font-size:0.7em;
}


.menuImg {
    float: left;
    width: 50px;
    height: 50px;
}
